.contenedor-principal {
    background-image: linear-gradient(to right top, #ff0091, #fb00a3, #f300b6, #e600cb, #d400e0, #c500ea, #b300f4, #9c00ff, #8e00ff, #7e00ff, #6c00ff, #5700ff);
    background-size: cover;
    min-height: 100%;
    main {
        height: 100vh;
    }
}